<div id="content-section">
  <!-- sidebar -->  
  <h3>Categories</h3> 
  <p class="text-muted">    
    <ul class="list-group">
      {% assign categories_list = site.categories %}
        {% for category in categories_list %}
          <li class="list-group"> <a href="/{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' | strip_html }}/">{{ category[0] | replace: '-', ' ' | camelcase }} ({{ category[1].size }})</a> </li> 
        {% endfor %}
      {% assign categories_list = nil %}
    </ul>
  </p>
</div>
