@import url(monokai.css);

body {
  font-family: "Lato", sans-serif;
}

figcaption {
  font-size: 0.75em
}

code {
  font-size: 1em;
}

pre {
  font-size: 1em;
}

.spacer-top {
  height: 6em;
}

.spacer-side {
  width: 12em;
}

.main-content {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4em;
  font-size: 1.5em;
}

.post-title a {
  color: black;
  text-decoration: none;
}

/* Categories bar */
.categories {
  height: 100%;
  width: 12em;
  font-size: 1.2em;
  position: fixed;
  z-index: 1;
  top: 0.5em;
  right: 0em;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 0.5em;
}

.categories h2 {
  padding: 1em 0em 0em 0.2em;
  text-decoration: none;
  font-size: 1.2em;
  color: #f8f8ff;
  display: block; 
}

.categories a {
  padding: 0.3em 0em 0.3em 0.5em;
  text-decoration: none;
  font-size: 0.8em;
  color: #818181;
  display: block;
}


.hamburger {
  display: none;
}


/* Navigation bar */
.navigation {
  overflow: hidden;
  background-color: #111;
  width: 100%;
  top: 0;
  position: fixed;
  font-size: 1.2em;
}

.navigation div {
  max-width: 1042px;
  margin-left: auto;
  margin-right: auto;
}

.navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 1.1em;
}

.navigation a:hover {
  background-color: #ddd;
  color: black;
}

.navigation a.current {
  background-color: #4CAF50;
  color: white;
}

.navigation em {
  color: #f2f2f2;
  text-align: center;
  font-size: 1.5em;
  padding: 1em 1em 0em 0.5em;
}

.contact {
  padding-left: 1em;
}

.contact img {
  vertical-align: top;
  padding-right: 0.4em;
}


/* Share Bar */
#share-bar {
  font-size: 1.3em;
}

/* Title */
#share-bar h4 {
  margin-bottom: 0.5em;
  font-weight: 400;
}

/* All buttons */
.share-buttons {
}

/* Each button */
.share-button {
  margin: 0em;
  margin-bottom: 0.7em;
  margin-right: 0.1em;
  border: 1px solid #D3D6D2; 
  padding: 0.2em 0.4em 0.2em 0.4em;
}

.share-button:hover {
  opacity: 1;
  color: #ffffff;
}

/* Facebook button */
.fa-facebook-official {
  color: #3b5998;
}
.fa-facebook-official:hover {
  background-color: #3b5998;
}

/* Twitter button */
.fa-twitter {
  color: #55acee;
}
.fa-twitter:hover {
  background-color: #55acee;
}

/* Google-PLus button */
.fa-google-plus {
  color: #dd4b39;
}
.fa-google-plus:hover {
  background-color: #dd4b39;
}

/* Pinterest button */
.fa-pinterest-p {
  color: #cb2027;
}
.fa-pinterest-p:hover {
  background-color: #cb2027;
}

/* Tumblr button */
.fa-tumblr {
  color: #32506d;
}
.fa-tumblr:hover {
  background-color: #32506d;
}

/* Reddit button */
.fa-reddit-alien {
  color: #ff4500;
}
.fa-reddit-alien:hover {
  background-color: #ff4500;
}

/* LinkedIn button */
.fa-linkedin {
  color: #007bb5;
}
.fa-linkedin:hover {
  background-color: #007bb5;
}

/* Email button */
.fa-envelope {
  color: #444444;
}
.fa-envelope:hover {
  background-color: #444444;
}

.horizontal-list ul li {
  display: inline; 
  white-space: pre;
}
.horizontal-list ul li:after {
  content: " \2022 ";
}
.horizontal-list ul li:last-child:after {
  content: "";
}

.post-desc {
  font-size: 0.8em;
}

.post-desc a {
  border-bottom: 1px dotted;
  text-decoration: none; 
  margin: 0em 0.1em 0em 0.1em;
}

hr { 
  width:75%;
  margin-left:0em;
  margin-bottom: 1.5em;
  margin-top: 1em;
  border: 0; height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.article-summary {
  padding-left: 2em;
}

.highlight {
  width: 100%;
  font-size: 1.1em;
}

.lineno { 
  color: #696969; 
  display:inline-block; 
  padding: 0 5px; 
  border-right:1px solid #696969;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-device-width: 1000px) {
  body {
    font-size: 2em;
  }

  img {
    width: 100%;
    height: auto;
  }

  code {
    font-size: 1.2em;
  }

  pre {
    font-size: 1.2em;
  }

  .spacer-top {
    height: 3em;
  }

  .spacer-side {
    width: 1em;
  }

  .hamburger {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .bar1, .bar2, .bar3 { 
    width: 3em;
    height: 0.5em;
    background-color: white;
    margin: 0.7em 0;
    transition: 0.2s; 
  }

  .change .bar1, .change .bar2, .change .bar3 {
    background-color: #777;
  }

  .category-menu .categories {
    display: none;
  }

  .category-menu .categories a {
    max-width: 100%;
    font-size: 1em;
    display: block;
  }

 .main-content {
    max-width: 100%;
    padding-left: 0;
    font-size: 1.8em;
  }

  .post-desc {
    font-size: 0.5em;
  }

  .categories {
    font-size: 1.1em;
  }

  .navigation {
    max-width: 100%;
  }

  .navigation a {
    font-size: 1.2em;
  }

  .navigation em {
    font-size: 1.2em;
  }

  .navigation div {
    margin-left: 0px;
  }

  .highlight {
    width: 100%;
    font-size: 2em;
  }

  .MathJax_Display, .MJXc-display, .MathJax_SVG_Display {
        transform: scale(1.3);
        overflow-x: scroll;
        overflow-y: hidden;
    }
}
